# Example environment variables for the database container

# DATABASE_PASSWORD for MSSQL container
DATABASE_PASSWORD=__placeholder_password__

# Uncomment and set the DATABASE_PUBLIC_PORT if you want to expose the database on a different port (default is 1433)
# DATABASE_PUBLIC_PORT=1433